<h1>Leads#index</h1>
<p>Find me in app/views/leads/index.html.erb</p>

<%= stylesheet_link_tag 'pipeline', media: 'all', 'data-turbolinks-track': 'reload' %>



<div data-controller="pipeline">
  <div class="lists">
    <div class="list" id="Prospecting">
      <div class="list-item" draggable="true"> Manu </div>
      <div class="list-item" draggable="true"> Manu </div>
      <div class="list-item" draggable="true"> Manu </div>
      <div class="list-item" draggable="true"> Manu </div>
      <div class="list-item" draggable="true"> Manu </div>
    </div>
    <div class="list" id="Qualification">
    </div>
    <div class="list" id="NeedAnalysis">
    </div>
    <div class="list" id="Proposal">
    </div>
    <div class="list" id="Negotiation">
    </div>
    <div class="list" id="ClosingDeal">
    </div>
</div>




</div>
