<h1>Leads#index</h1>
<p>Find me in app/views/leads/index.html.erb</p>


<div data-controller="pipeline">

  <div class="list">
    <div class="list-item" draggable="true"> Manu </div>
    <div class="list-item" draggable="true"> Manu </div>
    <div class="list-item" draggable="true"> Manu </div>
    <div class="list-item" draggable="true"> Manu </div>
    <div class="list-item" draggable="true"> Manu </div>


  </div>




</div>
